/*FUENTE Y COLOR QUE APLICA A TODA LA WEB*/
/*familia de fuente de la pagina*/ 
@font-face {
	font-family: "nunito";
	src: url("../assets/fonts/Nunito-Light.ttf");}

/*fondo y fuente de toda la pagina*/ 
body{
	background-color: #403d39; /*marron oscuro*/ 
	font-family: "nunito";
	color: #f2ebe2;
}

header{
	margin-top: 40px;
	margin-bottom: 40px;
}

.bg-nav{
	background-color: #403d39}

.barranav{
	display: flex;
	justify-content: flex-end;
}


.navbar-expand-lg {
		display: flex;
	    justify-content: flex-end!important;}

.navbar-nav .nav-link {
	color: #f2ebe2!important}

form{
	margin: 10px 20px 10px 20px;
}

.btn{
	margin: 20px 6px 0px 6px;
	/*como llevarlo a la derecha*/
}

.btn-form{
    color: #403d39;
    background-color: #f2ebe9; /*buscar el color mas oscuro*/
    border-color: #f2ebe2;
}

footer{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* MOBILE */
@media only screen and (min-width: 0px) and (max-width: 768px){
/* HOME */
.intro{
	margin: 40px 10px 30px 10px;
	font-size: 16px;
}

.buttom{
    flex: 1;
    text-align: center;
    margin-bottom: 60px;
}

footer{
	font-size: 12px;
}
}

/* DESKTOP */
@media only screen and (min-width: 769px){ /* como no tengo vista tablet le pongo el min de 769 en vez de 1024 */
/* HOME */
.intro{
	margin: 40px 30px 30px 30px;
	font-size: 18px;
}

.nav-item{
padding: 0px 10px 0px 10px;
}

.buttom{
    flex: 1;
    text-align: end;
    margin: 0 20px 80px 0;
}

/*hover para que el menu se agrande y se mueva en el eje de las y*/
li{
	transition: all 1s;

}

li:hover{
	font-size: 20px;
	transform: translateY(-10px);

}
}
