$negro: #403d39;
$gris:#50514f;
$beige:#ccc5b9;
$claro: #f2ebe2;
$amarillo: #f3dfc1;
$marron:#d6c6b0;



//$paleta:(
//	negro: #403d39,
//	gris: #50514f,
//	beige: #ccc5b9,
//	claro: #f2ebe2,
//	amarillo: #f3dfc1,
//	marron: #d6c6b0
//	);
