
/* MOBILE */
@media only screen and (min-width: 0px) and (max-width: 768px){
    .table-bordered {
        margin-bottom: 40px;
        width: auto;
        margin-left: 5px;
        margin-right: 5px;

    }
    }

/* DESKTOP */
@media only screen and (min-width: 769px){ 

.row {
    flex-wrap: nowrap!important;
}

.table-bordered {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 80%;
}
}
